*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
  }
a{
    text-decoration: none;
    color: #333;
}
body{
    font-family:Arial,Helvetica,sans-serif;
    font-size:16px;
    line-height:160%;
    letter-spacing:normal;
    font-style:normal;
    font-stretch:normal
}
#wrapper{
    width: 100%;
    margin: auto;
}
nav{
    background-color: #008dc9;
}
span.link{
    color: #008dc9;
    text-decoration: underline;
}
li{
    list-style-type: none;
}
header{
    height: 128px;
    width: 95%;
    max-width: 1300px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
section{
    margin: auto;
    width: 100%;
    max-width: 1300px;
}

.logo a{
    display: block;
}

.logo{
    max-width: 250px;
    width: 50%;
}

.logo a img{
    width: 100%;
}
nav ul{
    max-width: 1300px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: flex-start;
}
nav ul li a{
    display: block;
    padding: .75em 1em;
    text-decoration: none;
    color: #fff;
    font-size: 1.25em;
}
.head-msg{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    flex-flow: column;
    align-items: flex-end;
}
.head-msg p.note{
    font-size: .8em;
}

.button {
    border-radius: .5em;
    background-color: #d86422; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    font-weight: bold;
  }
  .button.read{
    background-color:#008dc9;
    width: 80%;
  }
  .footer_menu{
    margin-top: 2em;
      width: 100%;
      text-align: center;
      background: #008dc9;
      padding: 20px 0;
  }
  .footer_logo img{
      width: 80%;
      max-width: 320px;
  }
  footer{
      
      width: 100%;
      text-align: center;
      padding: .75em 0;
      font-size: 1em;
      background-color: #20313b;
      font-weight: bold;
      color: #fff;
  }
  .head-msg p.note,
      .head-msg button{
          width: 60%;
          max-width: 200px;
      }
    .flex-box{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
    .flex-box .text-area,
    .flex-box .img-area{
        width: 50%;
    }
    .flex-box .img-area{
        display: block;
        height: 400px;
        background: url(../img/msg.jpeg) no-repeat;
        background-size: cover;
    }
    .flex-box .text-area{
        text-align: center;
    }
    h2.ttl{
        margin: 1em 0 0;
    }
    .flex-box .text-area a{
        width: 50%;
        max-width: 200px;
        margin: 2em auto;
    }
    h2.sec-ttl{
        width: 95%;
        margin: 2em auto 1em;
        text-align: left;
        padding-left: .25em;
    }
    h2.sec-ttl::before{
        margin-right: .25em;
        height: auto;
        content: "";
        width: 0;
        border-left: .1em solid #efefef;
    }
    .flex-box.contact-list{
        justify-content: center;
        width: 80%;
        margin: auto;
        max-width: 800px;
        flex-wrap: wrap;
    }
    ul.news-list{
        margin: auto;
        flex-wrap: wrap;
        align-items: flex-start;
        width: 90%;
        justify-content: space-between;
    }
    .mail,
    .sns{
        width: 40%;
        margin: 0 5%;
        display: flex;
        align-items: center;
    }
    .mail{
        text-align: center;
    }
    .mail{
        display: block;
        font-size: 1.5em;
    }
.mail span{
        margin-left: .25em;
}.mail p{
    font-size: .8em;
    margin-top: 1em;
    margin-bottom: 1em;
}
    ul.news-list li{
        width: 30%;
    }
    ul.news-list li a{
        display: flex;
        flex-flow: column;
        align-items: center;
        height: 400px;
    justify-content: space-between;
    }
    ul.news-list li a .img{
        height: 200px;
        overflow: hidden;
    }
    ul.news-list li a img{
        width: 100%;
        transform:scale(1.8);
        transition: .3s;
    }
    ul.news-list li a p{
        width: 100%;
        margin: 1em 0;
    }
    ul.news-list li a p span{
        font-size: 1.25em;
        font-weight: bold;
        display: block;
        
    }
    ul.news-list li a:hover img{
        transform:scale(2);
    }
  @media screen and (max-width:720px){
      header{
          height: auto;
          flex-flow: column;
          align-items: baseline;
      }
      .mail,
    .sns{
        width: 100%;
    }
      .head-msg{
          width: 100%;
          align-items: flex-start;
      }
      .head-msg p.note,
      .head-msg button{
          width: 100%;
          font-size: 0.8em;
          margin-left: 0;
          max-width: 100%;
      }
      h2.sec-ttl{
        width: 90%;
    }
      ul.news-list li{
        width: 90%;
        margin: 0 auto 1em;
    }
      .flex-box{
          flex-flow: column-reverse;
      }
          .flex-box .text-area,
    .flex-box .img-area{
        width: 100%;
    }
      .flex-box .img-area{
          height: 200px
      }
      .flex-box.contact-list{
          flex-flow:column;
      }
  }